
.map {

  height: 575px;
  margin: 30px;
  border: 1px solid gray;
  color: whitesmoke;
  border-radius: 20px;


}

/* --- (4) Leaflet container with map dimensions (other properties optional) --- */
.leaflet-container {
  width: 820px;
  height: 575px !important;
  border-radius: 20px;
}

.leaflet-control-attribution {
  font-size: 10px;
}