.login-Box{
    background-color: #222 !important;
    width: 100% !important;
    height: 100% !important;
  }

  .Num-input{
    background-color: black !important;
    color: #fff !important;
  }

  .Ghana-Image{
    width: 19%;
  }

